Squad Standard Stats table

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_html('https://fbref.com/en/comps/9/Premier-League-Stats',
                  attrs={"id":"stats_squads_standard_for"}) [0]

In [ ]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0            Arsenal                 23               26.4               54.4
1        Aston Villa                 23               27.5               50.5
2        Bournemouth                 25               26.0               45.3
3          Brentford                 23               26.5               46.9
4           Brighton                 28               25.8               53.4

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           16    176  1440  16.0          28  23  ...           1.75  1.44
1           16    176  1440  16.0          23  18  ...           1.44  1.13
2           16    176  1440  16.0          24  16  ...           1.50  1.00
3           16    176  1440  16.0          32  20  ...           2.00  1.25
4           16    176  1440  16.0          25  17  ...           1.56  1.06


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  3.19  1.62   3.06  1.68  1.29   2.97  1.58     2.87
1  2.56  1.37   2.50  1.59  1.18   2.78  1.50     2.68
2  2.50  1.25   2.25  2.02  1.37   3.39  1.77     3.14
3  3.25  1.87   3.12  1.59  1.16   2.75  1.49     2.65
4  2.62  1.56   2.62  1.43  1.01   2.44  1.43     2.44

[5 rows x 32 columns]

In [ ]:
pd.set_option('display.max_columns', None)
df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                Age
0             Arsenal                 25               25.0
1         Aston Villa                 31               26.9
2         Bournemouth                 30               25.7
3           Brentford                 28               26.6
4            Brighton                 30               25.9
5             Burnley                 31               24.5
6             Chelsea                 32               24.2
7      Crystal Palace                 26               26.7
8             Everton                 26               27.1
9              Fulham                 25               28.4
10          Liverpool                 30               26.3
11         Luton Town                 28               26.7
12    Manchester City                 25               26.6
13     Manchester Utd                 31               26.1
14      Newcastle Utd                 32               27.2
15    Nott'ham Forest                 33               25.7
16      Sheffield Utd                 35               25.7
17          Tottenham                 29               25.2
18           West Ham                 26               28.3
19             Wolves                 27               26.6

   Unnamed: 3_level_0 Playing Time                    Performance           \
                 Poss           MP Starts   Min   90s         Gls Ast  G+A
0                58.2           38    418  3420  38.0          86  62  148
1                53.1           38    418  3420  38.0          72  55  127
2                44.4           38    418  3420  38.0          52  39   91
3                45.2           38    418  3420  38.0          54  38   92
4                59.8           38    418  3420  38.0          50  36   86
5                47.4           38    418  3420  38.0          40  30   70
6                58.6           38    418  3420  38.0          76  51  127
7                42.3           38    418  3420  38.0          56  43   99
8                40.8           38    418  3420  38.0          40  17   57
9                50.6           38    418  3420  38.0          54  40   94
10               61.3           38    418  3420  38.0          80  60  140
11               42.4           38    418  3420  38.0          49  33   82
12               65.2           38    418  3420  38.0          94  69  163
13               50.6           38    418  3420  38.0          57  36   93
14               52.2           38    418  3420  38.0          83  55  138
15               40.6           38    418  3420  38.0          49  43   92
16               35.8           38    418  3420  38.0          31  18   49
17               61.6           38    418  3420  38.0          69  58  127
18               41.1           38    418  3420  38.0          58  40   98
19               48.9           38    418  3420  38.0          47  36   83

                            Expected                      Progression        \
   G-PK  PK PKatt CrdY CrdR       xG  npxG   xAG npxG+xAG        PrgC  PrgP
0    76  10    10   64    2     76.1  68.5  55.3    123.8         821  2106
1    68   4     4   94    2     63.3  60.3  48.6    108.9         775  1451
2    50   2     3   79    3     55.9  53.6  40.5     94.0         709  1314
3    51   3     3   89    2     58.2  56.0  42.7     98.8         505  1283
4    45   5     6   90    3     56.8  52.2  41.6     93.8         864  1780
5    37   3     3   77    7     40.6  38.3  29.7     68.0         727  1181
6    65  11    12  109    4     74.5  65.1  51.4    116.5         873  1615
7    52   4     4   73    2     48.6  45.4  38.7     84.1         506  1176
8    38   2     3   82    1     54.0  51.6  38.1     89.8         495  1129
9    52   2     2   84    4     50.8  49.2  37.6     86.8         670  1467
10   74   6     9   69    5     87.8  80.4  63.7    144.1         924  2110
11   44   5     5   71    0     42.4  38.6  29.5     68.2         675  1113
12   85   9    10   53    2     80.5  72.9  60.2    133.1        1127  2060
13   51   6     7   83    1     56.4  50.9  40.1     91.0         759  1479
14   75   8     9   79    1     76.2  69.2  51.4    120.6         737  1557
15   48   1     1   82    3     49.9  49.1  38.0     87.1         604  1140
16   26   5     5  101    5     38.3  34.4  25.8     60.2         343   884
17   67   2     2   92    4     68.2  66.7  57.4    124.1         957  2107
18   54   4     5   82    3     52.3  48.4  34.8     83.2         556  1207
19   43   4     4  102    4     46.7  43.6  31.8     75.4         671  1180

   Per 90 Minutes
              Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0            2.26  1.63  3.89  2.00   3.63  2.00  1.46   3.46  1.80     3.26
1            1.89  1.45  3.34  1.79   3.24  1.67  1.28   2.95  1.59     2.87
2            1.37  1.03  2.39  1.32   2.34  1.47  1.06   2.54  1.41     2.47
3            1.42  1.00  2.42  1.34   2.34  1.53  1.12   2.66  1.47     2.60
4            1.32  0.95  2.26  1.18   2.13  1.49  1.09   2.59  1.37     2.47
5            1.05  0.79  1.84  0.97   1.76  1.07  0.78   1.85  1.01     1.79
6            2.00  1.34  3.34  1.71   3.05  1.96  1.35   3.31  1.71     3.06
7            1.47  1.13  2.61  1.37   2.50  1.28  1.02   2.30  1.20     2.21
8            1.05  0.45  1.50  1.00   1.45  1.42  1.00   2.43  1.36     2.36
9            1.42  1.05  2.47  1.37   2.42  1.34  0.99   2.33  1.30     2.29
10           2.11  1.58  3.68  1.95   3.53  2.31  1.68   3.98  2.12     3.79
11           1.29  0.87  2.16  1.16   2.03  1.12  0.78   1.89  1.02     1.79
12           2.47  1.82  4.29  2.24   4.05  2.12  1.58   3.70  1.92     3.50
13           1.50  0.95  2.45  1.34   2.29  1.48  1.05   2.54  1.34     2.39
14           2.18  1.45  3.63  1.97   3.42  2.01  1.35   3.36  1.82     3.17
15           1.29  1.13  2.42  1.26   2.39  1.31  1.00   2.31  1.29     2.29
16           0.82  0.47  1.29  0.68   1.16  1.01  0.68   1.69  0.91     1.58
17           1.82  1.53  3.34  1.76   3.29  1.79  1.51   3.31  1.75     3.27
18           1.53  1.05  2.58  1.42   2.47  1.38  0.92   2.29  1.27     2.19
19           1.24  0.95  2.18  1.13   2.08  1.23  0.84   2.07  1.15     1.98

In [ ]:
df.columns = ['_'.join(col).strip() for col in df.columns.values]

In [ ]:
from google.colab import files

df.to_csv('df.csv')
files.download('df.csv')

Squad Goal and Shot Creation table

In [ ]:
st = pd.read_html('https://fbref.com/en/comps/9/Premier-League-Stats',
                  attrs={"id":"stats_squads_gca_for"}) [0]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
st.columns = ['_'.join(col).strip() for col in st.columns.values]

In [ ]:
st

,Unnamed: 0_level_0_Squad,Unnamed: 1_level_0_# Pl,Unnamed: 2_level_0_90s,SCA_SCA,SCA_SCA90,SCA Types_PassLive,SCA Types_PassDead,SCA Types_TO,SCA Types_Sh,SCA Types_Fld,SCA Types_Def,GCA_GCA,GCA_GCA90,GCA Types_PassLive,GCA Types_PassDead,GCA Types_TO,GCA Types_Sh,GCA Types_Fld,GCA Types_Def
0,Arsenal,25,38.0,1185,31.18,926,82,58,66,33,20,152,4.00,104,16,8,11,13,0
1,Aston Villa,31,38.0,912,24.00,670,77,47,73,31,14,129,3.39,92,8,8,10,8,3
2,Bournemouth,30,38.0,952,25.05,700,70,64,57,34,27,83,2.18,62,3,5,6,3,4
3,Brentford,28,38.0,804,21.16,557,102,34,55,42,14,81,2.13,57,7,3,8,6,0
4,Brighton,30,38.0,1010,26.58,749,87,54,71,38,11,89,2.34,59,5,9,9,6,1
5,Burnley,31,38.0,757,19.92,549,74,49,45,31,9,74,1.95,55,6,8,2,3,0
6,Chelsea,32,38.0,980,25.79,720,62,76,46,50,26,133,3.50,89,7,11,10,12,4
7,Crystal Palace,26,38.0,794,20.89,554,74,48,50,45,23,103,2.71,85,4,6,2,6,0
8,Everton,26,38.0,854,22.47,592,82,31,76,41,32,60,1.58,33,5,0,13,5,4
9,Fulham,25,38.0,877,23.08,652,79,40,67,24,15,95,2.50,73,6,4,8,3,1
10,Liverpool,30,38.0,1388,36.53,1045,116,66,101,43,17,131,3.45,96,8,9,10,7,1
11,Luton Town,28,38.0,749,19.71,504,73,59,55,46,12,81,2.13,46,7,6,16,6,0
12,Manchester City,25,38.0,1259,33.13,991,65,65,67,54,17,169,4.45,125,5,14,10,13,2
13,Manchester Utd,31,38.0,989,26.03,743,79,55,52,38,22,98,2.58,68,4,8,7,6,5
14,Newcastle Utd,32,38.0,983,25.87,713,69,72,67,46,16,144,3.79,90,7,18,13,13,3
15,Nott'ham Forest,33,38.0,783,20.61,566,67,49,56,32,13,90,2.37,70,5,7,3,3,2
16,Sheffield Utd,35,38.0,601,15.82,425,59,39,45,22,11,48,1.26,32,2,4,6,3,1
17,Tottenham,29,38.0,1053,27.71,818,60,60,61,31,23,122,3.21,96,7,7,5,3,4
18,West Ham,26,38.0,782,20.58,518,91,58,43,47,25,104,2.74,70,11,8,8,4,3
19,Wolves,27,38.0,743,19.55,519,67,53,47,42,15,81,2.13,52,7,7,6,7,2

In [ ]:
from google.colab import files

st.to_csv('SquadGoalandShotCreation.csv')
files.download('SquadGoalandShotCreation.csv')

Squad Wages

In [ ]:
wg = pd.read_html('https://fbref.com/en/comps/9/wages/Premier-League-Wages',
                  attrs={"id":"squad_wages"}) [0]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
wg.columns = ['_'.join(col).strip() for col in wg.columns.values]

In [ ]:
wg

,R_k,S_q_u_a_d,#_ _P_l,W_e_e_k_l_y_ _W_a_g_e_s,A_n_n_u_a_l_ _W_a_g_e_s,%_ _E_s_t_i_m_a_t_e_d
0,1,Manchester Utd,57,"Â£ 3,956,846 (â‚¬ 4,597,795, $4,901,914)","Â£ 205,756,000 (â‚¬ 239,085,341, $254,899,502)",24%
1,2,Manchester City,48,"Â£ 3,866,000 (â‚¬ 4,492,233, $4,789,369)","Â£ 201,032,000 (â‚¬ 233,596,128, $249,047,207)",34%
2,3,Arsenal,52,"Â£ 3,193,000 (â‚¬ 3,710,217, $3,955,628)","Â£ 166,036,000 (â‚¬ 192,931,309, $205,692,637)",12%
3,4,Chelsea,60,"Â£ 3,020,000 (â‚¬ 3,509,194, $3,741,308)","Â£ 157,040,000 (â‚¬ 182,478,090, $194,547,997)",51%
4,5,Liverpool,49,"Â£ 2,620,000 (â‚¬ 3,044,400, $3,245,770)","Â£ 136,240,000 (â‚¬ 158,308,807, $168,780,053)",43%
5,6,Tottenham,61,"Â£ 2,260,000 (â‚¬ 2,626,086, $2,799,787)","Â£ 117,520,000 (â‚¬ 136,556,457, $145,588,902)",38%
6,7,Aston Villa,52,"Â£ 2,252,885 (â‚¬ 2,617,818, $2,790,972)","Â£ 117,150,000 (â‚¬ 136,126,517, $145,130,528)",47%
7,8,West Ham,46,"Â£ 1,833,000 (â‚¬ 2,129,918, $2,270,800)","Â£ 95,316,000 (â‚¬ 110,755,743, $118,081,612)",29%
8,9,Newcastle Utd,57,"Â£ 1,625,000 (â‚¬ 1,888,225, $2,013,121)","Â£ 84,500,000 (â‚¬ 98,187,715, $104,682,284)",36%
9,10,Everton,46,"Â£ 1,518,808 (â‚¬ 1,764,831, $1,881,565)","Â£ 78,978,000 (â‚¬ 91,771,235, $97,841,390)",52%
10,11,Nott'ham Forest,72,"Â£ 1,385,577 (â‚¬ 1,610,019, $1,716,513)","Â£ 72,050,000 (â‚¬ 83,720,997, $89,258,679)",85%
11,12,Crystal Palace,53,"Â£ 1,327,885 (â‚¬ 1,542,982, $1,645,041)","Â£ 69,050,000 (â‚¬ 80,235,048, $85,542,151)",61%
12,13,Fulham,52,"Â£ 1,282,500 (â‚¬ 1,490,245, $1,588,817)","Â£ 66,690,000 (â‚¬ 77,492,762, $82,618,478)",69%
13,14,Brighton,52,"Â£ 1,200,000 (â‚¬ 1,394,382, $1,486,612)","Â£ 62,400,000 (â‚¬ 72,507,850, $77,303,838)",74%
14,15,Wolves,49,"Â£ 1,035,000 (â‚¬ 1,202,654, $1,282,203)","Â£ 53,820,000 (â‚¬ 62,538,019, $66,674,561)",73%
15,16,Bournemouth,60,"Â£ 1,034,500 (â‚¬ 1,202,073, $1,281,584)","Â£ 53,794,000 (â‚¬ 62,507,804, $66,642,349)",75%
16,17,Brentford,59,"Â£ 768,000 (â‚¬ 892,404, $951,432)","Â£ 39,936,000 (â‚¬ 46,405,019, $49,474,457)",93%
17,18,Burnley,63,"Â£ 740,500 (â‚¬ 860,450, $917,364)","Â£ 38,506,000 (â‚¬ 44,743,380, $47,702,914)",82%
18,19,Sheffield Utd,58,"Â£ 553,000 (â‚¬ 642,578, $685,081)","Â£ 28,756,000 (â‚¬ 33,414,030, $35,624,186)",59%
19,20,Luton Town,55,"Â£ 472,500 (â‚¬ 549,038, $585,354)","Â£ 24,570,000 (â‚¬ 28,549,962, $30,438,387)",89%

In [ ]:
from google.colab import files

wg.to_csv('SquadWages.csv')
files.download('SquadWages.csv')

In [ ]:
last years standard stats table   stats_squads_standard_for

In [ ]:
ly = pd.read_html('https://fbref.com/en/comps/9/2022-2023/2022-2023-Premier-League-Stats',
                  attrs={"id":"stats_squads_standard_for"}) [0]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
ly.columns = ['_'.join(col).strip() for col in ly.columns.values]

In [ ]:
ly

,Unnamed: 0_level_0_Squad,Unnamed: 1_level_0_# Pl,Unnamed: 2_level_0_Age,Unnamed: 3_level_0_Poss,Playing Time_MP,Playing Time_Starts,Playing Time_Min,Playing Time_90s,Performance_Gls,Performance_Ast,Performance_G+A,Performance_G-PK,Performance_PK,Performance_PKatt,Performance_CrdY,Performance_CrdR,Expected_xG,Expected_npxG,Expected_xAG,Expected_npxG+xAG,Progression_PrgC,Progression_PrgP,Per 90 Minutes_Gls,Per 90 Minutes_Ast,Per 90 Minutes_G+A,Per 90 Minutes_G-PK,Per 90 Minutes_G+A-PK,Per 90 Minutes_xG,Per 90 Minutes_xAG,Per 90 Minutes_xG+xAG,Per 90 Minutes_npxG,Per 90 Minutes_npxG+xAG
0,Arsenal,26,24.7,59.3,38,418,3420,38.0,84,64,148,81,3,4,51,0,71.7,68.9,53.6,122.5,824,2049,2.21,1.68,3.89,2.13,3.82,1.89,1.41,3.30,1.81,3.22
1,Aston Villa,26,27.0,49.3,38,418,3420,38.0,49,35,84,46,3,4,80,1,50.3,47.2,38.8,86.0,637,1242,1.29,0.92,2.21,1.21,2.13,1.32,1.02,2.34,1.24,2.26
2,Bournemouth,31,26.3,40.4,38,418,3420,38.0,37,24,61,37,0,0,68,0,38.5,38.5,28.4,66.9,504,1006,0.97,0.63,1.61,0.97,1.61,1.01,0.75,1.76,1.01,1.76
3,Brentford,25,26.2,43.8,38,418,3420,38.0,56,36,92,49,7,8,57,1,56.3,50.1,38.4,88.5,392,1131,1.47,0.95,2.42,1.29,2.24,1.48,1.01,2.49,1.32,2.33
4,Brighton,29,26.3,60.2,38,418,3420,38.0,68,46,114,62,6,6,58,0,73.3,68.9,52.2,121.2,809,1849,1.79,1.21,3.00,1.63,2.84,1.93,1.37,3.30,1.81,3.19
5,Chelsea,32,26.3,58.7,38,418,3420,38.0,37,27,64,34,3,3,81,3,49.5,47.2,38.6,85.8,829,1737,0.97,0.71,1.68,0.89,1.61,1.30,1.02,2.32,1.24,2.26
6,Crystal Palace,26,26.7,46.3,38,418,3420,38.0,38,29,67,37,1,3,82,3,39.3,36.8,29.0,65.8,556,1243,1.00,0.76,1.76,0.97,1.74,1.03,0.76,1.80,0.97,1.73
7,Everton,28,26.6,42.8,38,418,3420,38.0,32,24,56,29,3,3,81,2,45.2,42.8,32.4,75.1,500,1052,0.84,0.63,1.47,0.76,1.39,1.19,0.85,2.04,1.13,1.98
8,Fulham,29,28.2,48.8,38,418,3420,38.0,52,33,85,47,5,9,80,1,46.2,39.1,28.5,67.7,663,1326,1.37,0.87,2.24,1.24,2.11,1.22,0.75,1.97,1.03,1.78
9,Leeds United,29,25.3,47.0,38,418,3420,38.0,45,31,76,44,1,3,89,3,47.3,44.9,31.8,76.7,555,1429,1.18,0.82,2.00,1.16,1.97,1.24,0.84,2.08,1.18,2.02
10,Leicester City,28,26.1,47.7,38,418,3420,38.0,49,36,85,46,3,6,63,2,50.5,45.7,38.4,84.1,580,1304,1.29,0.95,2.24,1.21,2.16,1.33,1.01,2.34,1.20,2.21
11,Liverpool,28,27.4,60.8,38,418,3420,38.0,71,58,129,69,2,4,57,1,71.5,68.4,55.6,124.1,719,1992,1.87,1.53,3.39,1.82,3.34,1.88,1.46,3.35,1.80,3.26
12,Manchester City,24,27.2,64.7,38,418,3420,38.0,92,69,161,83,9,10,44,1,78.6,71.1,57.5,128.6,988,2073,2.42,1.82,4.24,2.18,4.00,2.07,1.51,3.58,1.87,3.38
13,Manchester Utd,26,26.9,53.7,38,418,3420,38.0,56,42,98,53,3,3,78,2,67.7,65.3,52.2,117.5,711,1595,1.47,1.11,2.58,1.39,2.50,1.78,1.37,3.15,1.72,3.09
14,Newcastle Utd,27,27.3,52.3,38,418,3420,38.0,64,42,106,58,6,6,61,1,71.9,67.3,51.8,119.1,695,1618,1.68,1.11,2.79,1.53,2.63,1.89,1.36,3.26,1.77,3.13
15,Nott'ham Forest,33,26.5,37.6,38,418,3420,38.0,36,22,58,33,3,6,84,0,39.3,34.6,26.3,61.0,436,859,0.95,0.58,1.53,0.87,1.45,1.03,0.69,1.73,0.91,1.60
16,Southampton,36,24.7,44.5,38,418,3420,38.0,36,25,61,34,2,4,73,0,37.8,34.6,28.1,62.7,588,1125,0.95,0.66,1.61,0.89,1.55,0.99,0.74,1.73,0.91,1.65
17,Tottenham,29,27.6,50.0,38,418,3420,38.0,68,46,114,63,5,6,77,3,57.0,52.3,43.0,95.4,692,1449,1.79,1.21,3.00,1.66,2.87,1.50,1.13,2.63,1.38,2.51
18,West Ham,25,28.2,42.1,38,418,3420,38.0,41,25,66,35,6,8,44,0,49.2,43.7,32.7,76.4,615,1274,1.08,0.66,1.74,0.92,1.58,1.29,0.86,2.15,1.15,2.01
19,Wolves,32,26.7,49.9,38,418,3420,38.0,28,12,40,25,3,3,85,6,36.8,34.5,25.4,60.0,610,1343,0.74,0.32,1.05,0.66,0.97,0.97,0.67,1.64,0.91,1.58

In [ ]:
from google.colab import files

ly.to_csv('2022-2023SquadStats.csv')
files.download('2022-2023SquadStats.csv')